<div class="container mt-4">
    <h2 class="text-center">Create Poll</h2>
    <div class="mb-3">
        <input
            placeholder="Poll Question"
            class="form-control mb-2"
            required
            [(ngModel)]="newPoll.question"
        />
    </div>

    <div class="options-container mb-3">
        <div *ngFor="let option of newPoll.options; let i = index; trackByIndex" 
        class="input-group mb-2" >
            <input
                placeholder="Option {{ i + 1 }}"
                class="form-control"
                required
                [(ngModel)]="option.optionText"
            />
        </div>
    </div>

    <button class="btn btn-success me-2" (click)="createPoll()">Create Poll</button>

    <h2 class="mt-4 text-center">
            Available Polls
    </h2>
    <div class="polls-list">
        <div *ngFor="let poll of polls" class="poll-card" class="border rounded p-3 mb-3">
            <h3> {{ poll.question }} </h3>
            <div class="options-list">
                <div *ngFor="let option of poll.options; let i = index">
                    <button (click)="vote(poll.id, i)" class="btn btn-outline-primary me-2 mb-2">
                        {{ option.optionText }} ({{ option.voteCount }} votes)
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>